<div class="panel-group" id="accordion-sd">
   <% ba.children.each do |lvl3| %>
      <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title">
           <a data-toggle="collapse" data-parent="#accordion-sd" href="#<%= lvl3.id%>">
             Service Domain: <%= lvl3.name %>
           </a>
         </h4>
       </div>
       <div id="<%= lvl3.id%>" class="panel-collapse collapse">
         <div class="panel-body">
            <% for prop in lvl3.properties %>
            <%= "#{prop.name} #{prop.value}"%><br/>
            <% end %>
         </div>
       </div>
      </div>
  <% end %>
</div>